<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Enter a happy message</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form #messageForm="ngForm" (ngSubmit)="createMessage(userMessage)">
                <ion-input type="text" class="form-control" required name="userMessage" [(ngModel)]="userMessage" placeholder="Make someone's day!"></ion-input>
                <button type="submit">Submit</button>
            </form>
        </ion-card-content>
    </ion-card>



    <ion-card no-lines>
        <ion-list>
            <h2>Message 1</h2>
            <p>
                happy <br>
                very happy
            </p>
        </ion-list>
        <ion-list>
            <h2>Message 2</h2>
            <p>
                happy <br>
                very happy
            </p>
        </ion-list>
        <ion-list>
            <h2>Message 3</h2>
            <p>
                happy <br>
                very happy
            </p>
        </ion-list>
    </ion-card>
</ion-content>