<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Enter a happy message</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-input [(ngModel)]="userMessage" placeholder="Must be happy!"></ion-input>
        </ion-card-content>


        <form #commentForm="ngForm" (ngSubmit)="createComment(comment)">
            <div class="form-group">
                <input mdInput type="text" class="form-control" id="comment" required [(ngModel)]="comment"
                    name="comment" placeholder="Comment">
            </div>
            <button [disabled]="!comment" type="submit">Submit</button>
        </form>


    </ion-card>
    <ion-card no-lines>
        <ion-list>
            <h2>Message 1</h2>
            <p>
                happy <br>
                very happy
            </p>
        </ion-list>
        <ion-list>
            <h2>Message 2</h2>
            <p>
                happy <br>
                very happy
            </p>
        </ion-list>
        <ion-list>
            <h2>Message 3</h2>
            <p>
                happy <br>
                very happy
            </p>
        </ion-list>
    </ion-card>
</ion-content>